@{
    Layout = "_Layout";
}
@model Pizza

@* Style *@
<link rel="stylesheet" href="~/css/DetailsStyle.css" /> 

<div class="container-details">
    <div class="card-pizza">

        <h3 style="font-family: cursive;"><b>@Model.Nome</b></h3>

        <div class="container-img-pizza">
            <img src="@Model.Foto" alt="...">
         </div>

        <p style="margin-top: 10px; font-size: 18px; font-family: cursive;">@Model.Descrizione</p>

        <p style="margin-top: 10px; font-size: 18px; font-family: cursive;">
            <strong>Categoria:</strong>
            @if (Model.Categoria != null)
            {
                @Model.Categoria.Name
            }
            else
            {
                <span>Nessuna categoria</span>
            }
        </p>

        <p style="margin-top: 10px; font-size: 18px; font-family: cursive;">

            <strong>Ingredienti</strong>

            @if (Model.Ingredienti != null && Model.Ingredienti.Count > 0)
            {
                <ul>
                    @foreach (Ingrediente ingrediente in Model.Ingredienti)
                    {
                        <li>@ingrediente.Name</li>
                    }
                </ul>
            }
            else
            {
                <span>Non hai ancora ingredienti associati! </span>
            }
            
        </p>

        <p style="font-family: cursive; font-size: 18px;">@Model.Prezzo€</p>
       
         <div class="container-buttons">
            <button type="button" class="button">
                <a class="link-button" href="@Url.Action("Update","Pizza", new{id=Model.Id})">Modifica</a>
            </button>
        
            <div class="button-delete">
                <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="link-button-delete">Elimina</button>
                </form>
            </div>
         </div>
    
         <div class="container-button-home">
            <button type="button" class="button">
                <a class="link-button" href="@Url.Action("Index","Pizza")">Torna alle pizze</a>
            </button>
         </div>
    </div>

    
</div>


