@{
    Layout = "_Layout";
}
@model PizzaFormModel

<link rel="stylesheet" href="~/css/UpdateStyle.css" />

<div class="container-form">
    <div class="inside-container">
        <form asp-controller="Pizza" asp-action="Update" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="Pizza.Nome" class="label">Nome</label>
                <input asp-for="Pizza.Nome" type="text" class="form-control" id="Name">
                <span asp-validation-for="Pizza.Nome" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <p class="label">Categoria: </p>
                <select asp-for="Pizza.categoriaId" rows="10" class="d-block w-100">
                    @foreach (Categoria categoria in Model.Categorie)
                    {
                        @if (Model.Pizza.categoriaId == categoria.Id)
                        {
                            <option value="@categoria.Id" selected>@categoria.Name</option>
                        }
                        else
                        {
                            <option value="@categoria.Id">@categoria.Name</option>
                        }
                    }
                </select>
            </div>

            <div class="mb-3">
                <strong>Ingredienti:</strong>
                <select asp-for="IngredientiSelezionatiId"
                        multiple="multiple"
                        size="10"
                        class="label"
                        asp-items="@Model.Ingredienti">
                </select>
            </div>

            <div class="mb-3">
                <label asp-for="Pizza.Descrizione" class="label">Descrizione</label>
                <input asp-for="Pizza.Descrizione" type="text" class="form-control" id="Descrizione">
                <span asp-validation-for="Pizza.Descrizione" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Pizza.Prezzo" class="label">Prezzo</label>
                <input asp-for="Pizza.Prezzo" type="text" class="form-control" id="Prezzo">
                <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Pizza.Foto" class="label">Foto</label>
                <input asp-for="Pizza.Foto" type="text" class="form-control" id="Foto">
                <span asp-validation-for="Pizza.Foto" class="text-danger"></span>
            </div>

            <div class="container-button">
                <button type="submit" class="button">Invia</button>
            </div>
        </form>
    </div>
</div>